*,
  *::after,
  *::before {
    box-sizing: border-box;
  }

body {
  padding: 0px;
  margin: 0px;
  color: white;
}

#drum-machine {
  display: flex;
  flex-direction: column;
background-color: #1a1a2e;
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
}

#pad-bank {
  width: 95%;
  height: 60%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  padding: 20px;
}
.drum-pad {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #16213e;
  color: #e94560;
}

#display {
  background-color: #0f3460;
  color: #e94560;
  height: 40px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-weight: bold;
}
.drum-pad:active, .drum-pad.active {
  background-color: #e94560;
  color: #1a1a2e;
  transform: scale(0.95);
  box-shadow: 0 0 20px #e94560;
}
